# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment files
.env
.venv
venv/
ENV/


.claude/
CLAUDE.md

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Data files
*.csv
!ecommerce_data/*.csv

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Jupyter Notebook output
*.nbconvert.ipynb
